[ConnectionSettings]
#server 	= irc.twitch.tv
server	= 199.9.252.26
port 	= 6667
nick 	= Twitch_Plays_Robot
channel = #twitchplayspokemon
#channel = #lebullonwow
password = oauth:4yacpxm65x6gb71jv91zvyo3npf0qzt


	